<body>
	{% if form.errors %}
		<p style="color: red;">
			Please correct the error{{ form.errors|pluralize }} below.
		</p>
	{% endif %}

	<form id="edit-feed-form" action="" method="post">{% csrf_token %}

            {{ form.non_field_errors }}

            <div class="fieldWrapper">
            {{ form.subject.errors }}
            <label for="id_url">{{ feed_name }}</label>
            </div>

            <div style="display:block;" class="fieldWrapper">
                {{ form.subject.errors }}
                <label for="id_category">Feed Category: </label>
			    {{ form.category }}
            </div>

		<input type="submit" value="Submit">

	</form>

</body>
</html>
