<div id="menu-container">
<ul id="menu"> 
<li class="menu_right"><a href="#" class="drop">Account</a>  
         <div class="dropdown_1column align_right">  
                 <div class="col_1">  
                     <ul class="simple">  
                         <li><a href="#">Friends</a></li>  
                         <li><a href="#">Settings</a></li>  
                     </ul>     
                 </div>  
         </div>  
</li>  

<li class="menu_right"><a href="#">1 Column</a>  
</li>  

<li class="menu_right"><a href="#">1 Column</a>  
</li>  
</ul>
</div>
